[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]


[dev-packages]

pytest = "*"
coverage = "*"
bumpversion = "*"
"flake8" = "*"
codecov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox-pyenv = "*"
tox = "*"
setuptools-scm = "*"
twine = "*"
